PORT=3000
NODE_ENV=development
DEV_MONGO_URI=mongodb://localhost:27017/huetrip

CLIENT_ORIGIN=http://localhost:5173
PUBLIC_BASE_URL=http://localhost:3000
LOCATION_IMAGE_STORAGE_DIR=./storage/location-images

JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
LOCATION_ASSET_TOKEN_SECRET=change_me
